* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  display: grid;
  place-items: center;
  height: 100vh;

  background: linear-gradient(45deg, #190361 0%, #b0f 100%);

  font-size: 1.6rem;
}

.hide {
  display: none;
}

main {
  text-align: center;

  background-color: #fff;
  box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.8);

  border-radius: 5px;
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
  width: min(42.8rem, 90%);
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 2.4rem;
  color: #34355b;

  margin-bottom: 1.4rem;
}

.screen1 p {
  font-family: "DM Sans", sans-serif;
  font-size: 1.5rem;
  color: #34355b;

  margin-bottom: 2rem;
}

#fortune-cookie{
  cursor: pointer;
}

#fortune-cookie:hover{
  animation: shake 0.5s infinite;
}

.screen2 img{
  margin-top: 6rem;
}


#cookieTicket {
  font-family: "Dancing Script", cursive;
  font-size: 2.4rem;

  background: #e4edf1;
  box-shadow: 2px 2px 2px 0px rgba(85, 85, 85, 0.5);

  color: #000;


  animation: appear 3s;

  margin: 0 auto;
  
}

button{
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;

  background-color: #FF9500;

  border-radius: .4rem;
  border: none;
  padding: 1.6rem;
  margin-top: 6rem;

  cursor: pointer;
  transition: background-color .4s;
}

button:hover {
  background-color: #f5a432;

}




@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@keyframes appear {
  0% {
    transform: translateY(50rem);
    scale: 0.01;
    opacity: 0;    
  }

  50%{
    opacity: 0.5;  
  }

  100% {
    transform: translateY(0);
    opacity: 1;  

  }
    
}